<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
    <array>
        <string>Montserrat-Bold.otf</string>
        <string>Montserrat-Regular.otf</string>
        <string>Montserrat-Medium.otf</string>
        <string>Montserrat-SemiBold.otf</string>
        <string>Avenir-Light.ttf</string>
        <string>Avenir-Regular.ttf</string>
        <string>Avenir-Heavy.ttf</string>
        <string>Avenir-Black.ttf</string>
        <string>Nocturne-Serif-Bold.otf</string>
        <string>Nocturne-Serif-Bold.otf</string>
        <string>Nocturne-Serif-Light.otf</string>
        <string>Nocturne-Serif-Light_italic.otf</string>
        <string>Nocturne-Serif-Regular.otf</string>
        <string>Nocturne-Serif-Regular_italic.otf</string>
        <string>Nocturne-Serif-Medium.otf</string>
        <string>Nocturne-Serif-Medium_italic.otf</string>
        <string>Nocturne-Serif-SemiBold.otf</string>
        <string>Nocturne-Serif-SemiBold_italic.otf</string>
        <string>NocturneSerif-ExtraBold.otf</string>
    </array>
</dict>
</plist>
